/* COLOUR PALETTE:
#000000;  -  BLACK
#0E0E0C;  -  DARK GREY
#FF003D;  -  RED/PINK
#FFFFFF;  -  WHITE
------------------------------------------------------*/


/* GLOBAL STYLES
------------------------------------------------------*/
#about{
  margin: 1em;
}

.about-grid-container{
  display: grid;
  grid-gap: 1em;
}

#about a{
  border-bottom: 0px solid white;
  margin: 0;
  padding: 0;
}

#about a:hover{
  border-bottom: 1.5px solid #FF003D;
}


/* MOBILE
------------------------------------------------------*/
@media only screen and (max-width: 480px){
  #about{
    margin: 0;
  }

  .about-grid-container{
    grid-template-columns: 1fr;
  }
}


/* TABLET
------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .about-grid-container{
    grid-template-columns: 1fr 1fr;
  }

  .about-grid3{
    grid-column: 1/3;
  }
}


/* LAPTOP
------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
  .about-grid-container{
    grid-template-columns: 1fr 1fr;
  }

  .about-grid3{
    grid-column: 1/3;
  }
}


/* DESKTOP
------------------------------------------------------*/
@media only screen and (min-width: 1601px){
  .about-grid-container{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-grid4{
    display: none;
  }
}
