/* COLOUR PALETTE:
#000000;  -  BLACK
#0E0E0C;  -  DARK GREY
#FF003D;  -  RED/PINK
#FFFFFF;  -  WHITE
------------------------------------------------------*/

/* GLOBAL STYLES
------------------------------------------------------*/
footer{
  background-color: #000000;
  color: #FFFFFF;
}

.footer-grid-container-socialmedia{
  background-color: #FF003D;
}

.social-media{
  padding: 3px 0 0 0;
}

.social-media img{
  height: 40px;
  display: inline-block;
  padding: 5px 5px 5px 0;
}

.footer-grid-container-info{
  display: grid;
  padding: 10px;
}

.footer-grid3 table td{
  padding: 0 15px 10px 0;
}

.footer-title{
  margin: 10px 0 10px 0;
}

.footer-grid-container-info p{
  padding: 0 0 5px 0;
}

#footer-mail{
  text-decoration: none;
  color: #FF003D;
  border-bottom: 1.5px solid #FF003D;
  font-weight: 600;
  margin: 0 0 100px 0;
  padding: 8px 0 2px 0;
}

#footer-mail:hover{
  border-bottom: 0px solid #FF003D;
}


/* MOBILE
------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .social-media img{
    padding: 5px 5px 5px 10px;
  }

  .footer-grid-container-info{
    grid-template-columns: 1;
  }

  .footer-grid-container-info div{
    padding-bottom: 15px;
  }

  footer p, footer table td, .footer-grid-container-info a{
    font-size: 13px;
  }

  .footer-title{
    font-size: 16px;
    font-weight: bold;
  }

  .footer-grid1{
    border-bottom: 1px solid #FFFFFF;
    height: 80px;
  }

  .footer-grid2{
    border-bottom: 1px solid #FFFFFF;
  }

  .footer-grid3{
    border-bottom: 1px solid #FFFFFF;
  }

  .footer-grid4{
    font-size: 1px;
    padding: 0;
  }

  .footer-grid4 p{
    font-size: 12px;
  }

}

/* TABLET
------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .footer-title{
    font-size: 18px;
    font-weight: bold;
  }

  footer p, footer table td, .footer-grid-container-info a{
    font-size: 16px;
  }

  .footer-grid-container-info{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    grid-template-columns: 1fr 1fr;
  }

  .social-media{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

  .footer-grid4{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

  .footer-grid1{
    height: 100px;
  }
}

/* LAPTOP
------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
  .footer-title{
    font-size: 18px;
    font-weight: bold;
  }

  footer p, footer table td, .footer-grid-container-info a{
    font-size: 16px;
  }

  .footer-grid-container-info{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    grid-template-columns: 1fr 1fr;
  }

  .social-media{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

  .footer-grid4{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

  .footer-grid1{
    height: 100px;
  }

}

/* DESKTOP
------------------------------------------------------*/
@media only screen and (min-width: 1601px){
  .footer-title{
    font-size: 18px;
    font-weight: bold;
  }

  footer p, footer table td, .footer-grid-container-info a{
    font-size: 16px;
  }

  .footer-grid-container-info{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
    grid-template-columns: 1fr 1fr;
  }

  .social-media{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

  .footer-grid1{
    height: 100px;
  }

  .footer-grid4{
    margin-left: auto;
    margin-right: auto;
    max-width: 575px;
  }

}
