/* HEADER: ------------------------------------------ */
.header--home{
  height: 100%;
  width: 100%;
  display: grid;
  align-self: center;
  justify-self: center;
}

.header__block{
  display: grid;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 40px 20px;
  background: rgb(253, 253, 253, .8);
  text-align: center;
  box-sizing: border-box;
}

.header__block__h1{
  color: #000;
  font-size: 60px;
  box-sizing: border-box;
}
/* END OF HEADER ------------------------------------ */



/* CTA: --------------------------------------------- */
.section--cta{
  background: #E5D7D6;
  display: grid;
  position: relative;
  color: #000;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
}

.section__block--cta{
  
}

.section__img--cta{
  box-sizing: border-box;
  display: block;
  height: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
/* END OF CTA --------------------------------------- */



/* GLOBAL STYLES
------------------------------------------------------*/
.home-grid-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: grid;
  grid-gap: 1em;
  padding: 1.7em 1em 1em 1em;
}

.home-grid-container div > a{
  color: #000;
  text-decoration: none;
  /* border-bottom: 1px solid #000; */
}

.home-grid-container div > a:hover{
  border-bottom: 0px solid #000;
}

.home-grid-container > div{
  margin: 25px 10px;
}

.home-grid-container div > h2{
  font-weight: 900;
  padding: 0 0 10px 0;
  margin: 0;
}



.description{
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 2em 1em;
}

.description > p{
  margin: 7px 0;
}


/* MOBILE
------------------------------------------------------*/
@media only screen and (max-width: 480px){
  .header--home{
    background: url("../images/pages/home/test1.jpg");
  }

  .header__block{
    padding: 30px 10px;
  }

  .header__block__h1{
    font-size: 35px;
  }

  .section--cta{
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .section__img--cta{
    display: none;
  }



  .home-grid-container{
    grid-template-columns: 1;
  }

  .home-grid-container div > h2{
    font-size: 22px;
  }

  .home-grid-container div > a{
    font-size: 17px;
  }

  .home-grid-container > div{
    margin: 0 0 25px 0;
  }

  #sub-headline{
    font-size: 40px;
    margin: 10px 0px 15px 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/* TABLET
------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .header--home{
    background: url("../images/pages/home/test1.jpg");
  }

  
  .header__block{
    padding: 30px 10px;
  }

  .header__block__h1{
    font-size: 45px;
  }

  .section--cta{
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
  }

  .section__img--cta{
    display: none;
  }






  .home-grid-container{
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: 300px;
    padding: 40px 10px 40px 10px;
  }

  .home-grid-container h2{
    font-size: 26px;
  }

  #sub-headline{
    font-size: 36px;
    margin: 10px 0px 15px 0;
  }
}

/* LAPTOP
------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
  .header--home{
    background: url("../images/pages/home/test1.jpg");
  }

  
  .header__block{
    padding: 40px 10px;
  }

  .header__block__h1{
    font-size: 55px;
  }

  .section--cta{
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 50px;
  }

  .section__img--cta{
    display: none;
  }





  .home-grid-container{
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    height: 300px;
    padding: 50px 0 70px 0;
  }

  .home-grid-container h2{
    font-size: 34px;
  }

  .home-grid-container a{
    font-size: 26px;
  }

  #sub-headline{
    font-size: 42px;
    margin: 10px 0px 20px 0;
  }
}

/* DESKTOP
------------------------------------------------------*/
@media only screen and (min-width: 1601px){
  .header--home{
    background: url("../images/pages/home/test1.jpg");
  }

  .header__block{
    padding: 50px 10px;
  }

  .header__block__h1{
    font-size: 65px;
  }

  .section--cta{
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 50px 100px;
  }




  .home-grid-container{
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    height: 400px;
    padding: 70px 0 50px 0;
  }

  .home-grid-container h2{
    font-size: 35px;
  }

  .home-grid-container a{
    font-size: 25px;
  }


  #sub-headline{
    font-size: 45px;
    margin: 10px 0px 20px 0;
  }
}



.header{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
