
/* COLOUR PALETTE:
#000000;  -  BLACK
#0E0E0C;  -  DARK GREY
#2D2D3C;  -  GREY
#FF003D;  -  RED/PINK
#FFFFFF;  -  WHITE
------------------------------------------------------*/


/* CSS: --------------------------------------------- */
@import url("main.css");
@import url("home.css");
@import url("nav.css");
@import url("footer.css");
/* -------------------------------------------------- */


/* FONT: -------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Jura|Montserrat&display=swap');
/* -------------------------------------------------- */


/* DEFAULT STYLES: ---------------------------------- */
html, body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

html, body,
nav, header, main, footer,
h1, h2, h3, h4, h5, h6,
p, i, button, label,
ul, li,
span, div, section, article{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

img{
  display: block;
}

main img{
  width: 100%;
}

a{
  cursor: pointer;
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------- */


/* HEADER/HEADLINE: --------------------------------- */
.header{
  margin-top: 100px;
  background-color: #2D2D3C;
}

h1{
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 10px;
}

h2{
  font-family: 'Jura', sans-serif;
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------- */


/* STYLES: ------------------------------------------ */
.bolder{
  font-weight: 900;
}

.section--dark-background{
  background-color: #0E0E0C;
}

.margin-bottom{
  margin-bottom: 40px;
}
/* -------------------------------------------------- */


/* IMAGES: ------------------------------------------ */
.mobile-images{
  width: 100%;
}

.tablet-images{
  width: 100%;
}

.laptop-images{
  width: 100%;
}

.desktop-images{
  width: 100%;
}
/* -------------------------------------------------- */


/* BUTTONS: ----------------------------------------- */
.button{
  text-align: center;
  text-decoration: none;
  transition: .5s;
  text-transform: uppercase;
}

.button--cta--header{
  background: linear-gradient(150deg, rgb(255, 134, 63), rgb(255, 0, 60), rgb(134, 7, 70));
  border: 0px solid transparent;
  padding: 30px 60px;
  margin-top: 45px;
  font-weight: 600;
  color: #FFF;
  letter-spacing: 5px;
  border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(128, 4, 35, 0.3);

}

.button--cta--header:hover{
  /* color: #FF003D; */
  background: linear-gradient(150deg, rgb(63, 255, 207), rgb(0, 153, 255), rgb(7, 41, 134));
  padding: 30px 90px;
}

.button--fill--pink{
  background-color: rgba(255, 0, 60, 1);
  background: linear-gradient(150deg, rgb(255, 134, 63), rgb(231, 11, 62), rgb(170, 12, 91));
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  border: 0px solid rgba(255, 0, 60, 1);
  color: #FFF;
  padding: 20px 30px;
  font-size: 1em;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}

.button--fill--pink:hover{
  background: linear-gradient(150deg, rgb(63, 255, 207), rgb(0, 153, 255), rgb(7, 41, 134));
  color: white;
  border: 0px solid transparent;
  padding: 20px 50px;
}

.button-outline--pink{
  background-color: transparent;
  border: 2px solid #FF003D;
  color: #FF003D;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  transition: .5s;
  text-transform: uppercase;
  width: 100%;
}

.button--outline--pink:hover{
  background-color: #FF003D;
  color: #fff;
}
/* -------------------------------------------------- */


/* LINKS: ------------------------------------------- */
.link{
  text-decoration: none;
}
/* -------------------------------------------------- */


/* MOBILE: -------------------------------------------*/
@media only screen and (max-width: 480px){
  .header__h1{
    font-size: 40px;
  }

  h3{
    margin: 5px 0px 5px 10px;
  }

  p{
    font-size: 17px;
  }

  .tablet-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }

  .button--cta--header{
    font-size: 1.1em;
    padding: 20px 30px;
  }

  .button--cta--header:hover{
    padding: 20px 45px;
  }

  .button--fill--pink:hover{
    padding: 20px 35px;
  }
}

/* TABLET
------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  .header__h1{
    font-size: 38px;
  }

  p{
    font-size: 16px;
  }

  .mobile-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }

  .button--cta--header{
    font-size: 1.3em;
  }
}

/* LAPTOP
------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
  .header__h1{
    font-size: 40px;
  }

  p{
    font-size: 17px;
  }

  .mobile-images{
    display: none;
  }

  .tablet-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }

  .button--cta--header{
    font-size: 1.4em;
  }
}

/* DESKTOP
------------------------------------------------------*/
@media only screen and (min-width: 1601px){
  .header__h1{
    font-size: 45px;
  }

  p{
    font-size: 17px;
  }

  .mobile-images{
    display: none;
  }

  .tablet-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }

  .button--cta--header{
    font-size: 1.4em;
  }
}