/* IMPORTS
------------------------------------------------------*/
/* ESSENTIALS */
@import url("nav.css");
@import url("footer.css");

/* PAGES */
@import url("main.css");
@import url("home.css");
@import url("about.css");

/* FONT */
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Jura|Montserrat&display=swap');

/* COLOUR PALETTE:
#000000;  -  BLACK
#0E0E0C;  -  DARK GREY
#2D2D3C;  -  GREY
#FF003D;  -  RED/PINK
#FFFFFF;  -  WHITE
------------------------------------------------------*/







/* GLOBAL STYLES
------------------------------------------------------*/
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

h1{
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 35px 10px;
  color: #fff;
}

h2{
  font-family: 'Jura', sans-serif;
  margin: 0;
  padding: 0;
}



p{
  margin: 0;
  padding: 0;
}

img{
  display: block;
}

main img{
  width: 100%;
}



.last-p{
  padding-bottom: 0;
}

.bolder{
  font-weight: 900;
}

.dark-background{
  background-color: #0E0E0C;
}

.grey-background{
  background-color: #2D2D3C;
}

.red-background{
  background-color: #FF003D;
}

.mobile-images{
  width: 100%;
}

.tablet-images{
  width: 100%;
}

.laptop-images{
  width: 100%;
}

.desktop-images{
  width: 100%;
}

/* MOBILE
------------------------------------------------------*/
@media only screen and (max-width: 480px){
  h1{
    font-size: 40px;
  }

  h2{
    font-size: 30px;
  }

  h3{
    margin: 5px 0px 5px 10px;
  }

  p{
    font-size: 17px;
  }

  main a{
    font-size: 17px;
  }

  .tablet-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }
}

/* TABLET
------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width:1024px){
  h1{
    font-size: 38px;
    text-align: center;
    padding: 28px 10px;
  }

  h2{
    font-size: 32px;
  }

  p, main a{
    font-size: 16px;
  }

  .mobile-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }
}

/* LAPTOP
------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width:1600px){
  h1{
    font-size: 40px;
    text-align: center;
    padding: 30px 10px;
  }

  h2{
    font-size: 35px;
  }

  p, main a{
    font-size: 17px;
  }

  .mobile-images{
    display: none;
  }

  .tablet-images{
    display: none;
  }

  .desktop-images{
    display: none;
  }
}

/* DESKTOP
------------------------------------------------------*/
@media only screen and (min-width: 1601px){
  h1{
    font-size: 45px;
    text-align: center;
    padding: 35px 10px;
  }

  h2{
    font-size: 30px;
  }

  p, main a{
    font-size: 17px;
  }

  .mobile-images{
    display: none;
  }

  .tablet-images{
    display: none;
  }

  .laptop-images{
    display: none;
  }
}
















.button{
  background-color: transparent;
  border: 1px solid #000;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: .6em;
  transition: .5s;
  text-transform: uppercase;
}

.button:hover{
  background: rgb(122, 8, 36);
  color: white;
  border: 1px solid transparent;
  padding: 20px 40px;
  cursor: pointer;
}

.button--pink{
  background-color: transparent;
  border: 2px solid #FF003D;
  color: #FF003D;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  transition: .5s;
  text-transform: uppercase;
  width: 100%;
}

.link{
  text-decoration: none;
}


.button--pink:hover{
  background-color: #FF003D;
  color: #fff;
  
}

.margin-bottom{
  margin-bottom: 20px;
}